<footer class="w-full bg-slate-800 py-8 px-4 md:px-0 flex flex-col gap-4 items-center justify-center">
    <p class="text-sm text-gray-400">© {new Date().getFullYear()} SOFSA. Todos los derechos reservados.</p>
    <p class="text-sm text-gray-400">Desarrollado por <a class="text-blue-500" href="https://portfolio-ronaldo-almiron.vercel.app/">Rony Almirón</a></p>
</footer>