<footer class="w-full bg-slate-900 py-8 px-4 md:px-0 flex flex-col md:flex-row gap-2 items-center justify-center">
    <p class="text-sm text-gray-400"><strong> © {new Date().getFullYear()} SOFSA.</strong> Todos los derechos reservados.</p>
    <p class="text-sm text-gray-400 italic">Desarrollado por <a class="text-blue-500" href="https://portfolio-ronaldo-almiron.vercel.app/">Rony Almirón</a></p>
</footer>